<div class="page page-dashboard">

  <div class="pageheader">

    <h2>{{page.title}}</h2>



  </div>

  <!-- cards row -->
  <div class="row">
    <div class="col-md-12">
      <section class="tile" fullscreen="isFullscreen03">
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><i class="fa fa-twitter"></i> <strong>Tweet</strong></h1>
        </div>
        <div class="tile-body">

          <form class="form-horizontal ng-pristine ng-valid" role="form" ng-submit="tweet()">

            <div class="form-group">
              <label for="input01" class="col-sm-2 control-label">User</label>
              <div class="col-sm-10">
                <select ui-options="{
                  width: '240px'
                }" ng-model="user" ng-options="user.realname for user in usrs track by user.id">
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="input01" class="col-sm-2 control-label">Tweet</label>
              <div class="col-sm-10">
                <textarea ng-model="message" rows="3" class="form-control" placeholder="Type your tweet" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-rounded btn-success btn-sm">Create</button>
              </div>
            </div>
            <hr class="line-dashed line-full" />
            
          </form>

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->
    </div>

  </div>
  <!-- /row -->





</div>
