<div id="page-outer" >
  <div id="page-container" class="AppContent wrapper wrapper-home">
              
    <div class="dashboard dashboard-left">
      <!--Trends-->
      <div class="Trends module trends">
        <div class="trends-inner">
          <div class="flex-module trends-container ">
            <div class="flex-module-header">
    
              <h3>
                <span class="trend-location js-trend-location">Trending</span>
              </h3>
            </div>
            <div class="flex-module-inner">
              <ul class="trend-items js-trends">
                <li class="trend-item js-trend-item" data-trend-name="#some">
                  <a class="js-nav trend-name" dir="ltr" href="/twitter/trends/#we">#some</a>
                </li>
                <li class="trend-item js-trend-item" data-trend-name="#some">
                  <a class="js-nav trend-name" dir="ltr" href="/twitter/trends/#we">#some</a>
                </li>
                <li class="trend-item js-trend-item" data-trend-name="#some">
                  <a class="js-nav trend-name" dir="ltr" href="/twitter/trends/#we">#some</a>
                </li>
                <li class="trend-item js-trend-item" data-trend-name="#some">
                  <a class="js-nav trend-name" dir="ltr" href="/twitter/trends/#we">#some</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--/Trends-->
    </div>



    <div role="main" class="content-main top-timeline-tweetbox" id="timeline" >
      
      <!-- ABOVE TL-->
      <div id="above-timeline-prompt">
        <div class="js-prompt-layout-container">
          <div class="js-prompt-layout-content">
            <div class="PromptbirdPrompt PromptbirdPrompt--aboveTimeline" style="display: block;">
              <div class="PromptbirdPrompt-content">
                <button type="button" class="PromptbirdPrompt-dismiss js-promptDismiss" tabindex="-1">
                  <span class="Icon Icon--close Icon--smallest">
                    <span class="visuallyhidden">
                      Close
                    </span>
                  </span>
                </button>    
                <h3 class="PromptbirdPrompt-title">C2S2 DEMO</h3>    
                <p class="PromptbirdPrompt-explanation">You are currently using a demo of C2S2-Twitter.</p>      
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="timeline-tweet-box" ng-controller="TweetinlineCtrl">
          <div class="home-tweet-box tweet-box component tweet-user">
              <img class="top-timeline-tweet-box-user-image avatar size32" src="https://pbs.twimg.com/profile_images/484350901986291714/H7B9jGvG_normal.jpeg" alt="">
              <form class="t1-form tweet-form" ng-class="{condensed: condensed}" method="post" target="tweet-post-iframe" data-condensed-text="What’s happening?" action="//upload.twitter.com/i/tweet/create_with_media.iframe" enctype="multipart/form-data">
            <input type="hidden" value="" name="use_tweet_ui_metrics">
          <img class="inline-reply-user-image avatar size32" src="https://pbs.twimg.com/profile_images/484350901986291714/H7B9jGvG_normal.jpeg" alt="">
        <span class="inline-reply-caret">
          <span class="caret-inner"></span>
        </span>

        <div class="tweet-content">
            <div class="TweetBox-photoIntent"><div class="photo-selector">
        <button aria-hidden="true" class="btn icon-btn" type="button" tabindex="-1">
          <span class="tweet-camera Icon Icon--camera js-tooltip" title="Add photo"></span>
          <span class="text add-photo-label  u-hideMediumViewport">Add photo</span>
        </button>
        <div class="image-selector">
          <input type="hidden" name="media_data[]" class="file-data">
          <div class="multi-photo-data-container hidden">
          </div>
          <label class="t1-label">
            <span class="visuallyhidden">Add photo</span>
            <input type="file" name="media[]" accept="image/gif,image/jpeg,image/jpg,image/png," class="file-input js-tooltip" tabindex="-1" title="Add photo">
          </label>
          <div class="swf-container"></div>
        </div>
      </div></div>
          <span class="icon add-photo-icon hidden"></span>
    
          <span class="icon nav-tweet hidden"></span>
          <span class="tweet-drag-help tweet-drag-photo-here hidden">Drag photo here</span>
          <span class="visuallyhidden" id="tweet-box-home-timeline-label">Tweet text</span>

    
          <div aria-labelledby="tweet-box-home-timeline-label" id="tweet-box-home-timeline" class="tweet-box rich-editor notie" contenteditable spellcheck="true" role="textbox" aria-multiline="true" dir="ltr" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-dropdown-6" ng-click="openTweetbox()"  ng-model="tweet"  ng-blur="closeTweetbox()">
            {{tweet}}
          </div>
          <div class="rich-normalizer"><div>What’s happening?</div></div>

    


      <div role="listbox" class="dropdown-menu typeahead" id="typeahead-dropdown-6">
        <div aria-hidden="true" class="dropdown-caret">
          <div class="caret-outer"></div>
          <div class="caret-inner"></div>
        </div>
        <div role="presentation" class="dropdown-inner js-typeahead-results"><ul role="presentation" class="typeahead-items typeahead-accounts js-typeahead-accounts block0" style="display: none;">
  
        <li role="presentation" data-user-id="" data-user-screenname="" data-remote="true" data-score="" class="typeahead-item typeahead-account-item js-selectable">
    
          <a role="option" class="js-nav" data-query-source="typeahead_click" data-search-query="" data-ds="account">
            <img class="avatar size32" alt="">
            <span class="typeahead-user-item-info">
              <span class="fullname"></span>
              <span class="js-verified hidden"><span class="verifiedContainer"><span class="Icon Icon--verifiedFill Icon--small"></span><span class="Icon Icon--verified Icon--small"></span><span class="u-hiddenVisually">Verified account</span></span></span>
              <span class="username"><s>@</s><b></b></span>
            </span>
          </a>
        </li>
        <li role="presentation" class="js-selectable typeahead-accounts-shortcut js-shortcut"><a role="option" class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-shortcut="true" data-ds="account_search"></a></li>
      </ul><ul role="presentation" class="typeahead-items typeahead-topics block1" style="display: none;">
  
        <li role="presentation" class="typeahead-item typeahead-topic-item">
          <a role="option" class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-ds="topics" tabindex="-1">
          </a>
        </li>
      </ul></div>
      </div>


    
          <textarea aria-hidden="true" class="tweet-box-shadow" name="status"></textarea>

    
          <div class="thumbnail-container">
            <div class="previews"></div>
            <div class="preview template">
              <button type="button" class="preview-overlay dismiss js-dismiss" tabindex="-1">
        <span class="icon dismiss-white">
          <span class="visuallyhidden">
            Dismiss
          </span>
        </span>
      </button>

              <button type="button" class="preview-overlay edit js-edit" tabindex="-1">
          Trim
      </button>

              <div class="play-button">
                <div class="Icon Icon--mediafill"></div>
                <div class="Icon Icon--mediaplay"><span class="u-hiddenVisually">Play</span></div>
              </div>
              <span class="filename"></span>
            </div>
            <div class="preview-message">
                <button type="button" class="start-tagging js-open-user-select no-users u-borderUserColorLight u-textUserColor" disabled="">
                  <span class="Icon Icon--me Icon--smallest"></span>
                  <span class="tagged-users">
                    Who's in these photos?
                  </span>
                </button>
            </div>
          </div>
            <div class="photo-tagging-container user-select-container hidden" style="display: none;">
              <div class="tagging-dropdown dropdown-menu">
                <div class="dropdown-caret center">
                  <div class="caret-outer"></div>
                  <div class="caret-inner"></div>
                </div>
                <div class="photo-tagging-controls user-select-controls">
                  <label class="t1-label">
                    <span class="Icon Icon--search nav-search" tabindex="-1"></span>
                    <span class="u-hiddenVisually">Users in this photo</span>
                    <input class="js-initial-focus" type="text" placeholder="Search and tag up to 10 people" aria-autocomplete="list" aria-expanded="true" aria-owns="typeahead-dropdown-5">
                  </label>
                </div>
                <div class="typeahead-container">
            


      <div role="listbox" class="dropdown-menu typeahead" id="typeahead-dropdown-5" aria-multiselectable="true" aria-hidden="false" style="display: none;">
        <div aria-hidden="true" class="dropdown-caret">
          <div class="caret-outer"></div>
          <div class="caret-inner"></div>
        </div>
        <div role="presentation" class="dropdown-inner js-typeahead-results"><div role="presentation" class="typeahead-user-select block0">
        <div role="presentation" class="typeahead-empty-suggestions">
          Suggested users
        </div>
        <ul role="presentation" class="typeahead-items typeahead-selected js-typeahead-selected">
    
          <li role="presentation" data-user-id="" data-user-screenname="" data-remote="true" data-score="" class="typeahead-item typeahead-selected-item js-selectable">
      
            <a role="option" class="js-nav" data-query-source="typeahead_click" data-search-query="" data-ds="account">
              <img class="avatar size32" alt="">
              <span class="typeahead-user-item-info">
                <span class="select-status deselect-user js-deselect-user Icon Icon--check"></span>
                <span class="select-status select-disabled Icon Icon--unfollow"></span>
                <span class="fullname"></span>
                <span class="js-verified hidden"><span class="verifiedContainer"><span class="Icon Icon--verifiedFill Icon--small"></span><span class="Icon Icon--verified Icon--small"></span><span class="u-hiddenVisually">Verified account</span></span></span>
                <span class="username"><s>@</s><b></b></span>
              </span>
            </a>
          </li>
          <li role="presentation" class="typeahead-selected-end"></li>
        </ul>

        <ul role="presentation" class="typeahead-items typeahead-accounts js-typeahead-accounts" style="display: none;">
    
          <li role="presentation" data-user-id="" data-user-screenname="" data-remote="true" data-score="" class="typeahead-item typeahead-account-item js-selectable">
      
            <a role="option" class="js-nav" data-query-source="typeahead_click" data-search-query="" data-ds="account">
              <img class="avatar size32" alt="">
              <span class="typeahead-user-item-info">
                <span class="select-status deselect-user js-deselect-user Icon Icon--check"></span>
                <span class="select-status select-disabled Icon Icon--unfollow"></span>
                <span class="fullname"></span>
                <span class="js-verified hidden"><span class="verifiedContainer"><span class="Icon Icon--verifiedFill Icon--small"></span><span class="Icon Icon--verified Icon--small"></span><span class="u-hiddenVisually">Verified account</span></span></span>
                <span class="username"><s>@</s><b></b></span>
              </span>
            </a>
          </li>
          <li role="presentation" class="typeahead-accounts-end"></li>
        </ul>
      </div></div>
      </div>

                </div>
              </div>
            </div>

    
          <div class="CardComposer">
          </div>

        </div>

        <div class="toolbar js-toolbar" role="toolbar">
          <div class="tweet-box-extras">

              <span class="TweetBox-mediaPicker">
      </span>

              <div class="geo-picker">
        <button class="btn js-geo-search-trigger geo-picker-btn icon-btn js-tooltip" type="button" tabindex="-1" title="Add location">
          <span class="Icon Icon--geo"></span>
          <span class="text geo-status">Add location</span>
        </button>
        <span class="dropdown-container"></span>
        <input type="hidden" name="place_id">
      </div>




            <div class="TweetBoxUploadProgress">
        Uploading
        <div class="TweetBoxUploadProgress-bar">
          <div class="TweetBoxUploadProgress-barPosition"></div>
        </div>
      </div>
          </div>
          <div class="tweet-button">
            <span class="spinner"></span>
            <span class="tweet-counter">{{remaining}}</span>
            <button class="btn primary-btn tweet-action tweet-btn js-tweet-btn" ng-class="{btnDis: disabled}" type="button" ng-disabled="btnDis"  ng-click="sendTweet()">
        <span class="button-text tweeting-text">
          <span class="Icon Icon--tweet"></span>
          Tweet
        </span>
      </button>

          </div>
        </div>
      </form>

          </div>
        </div>
      <!--/ABOVE TL-->
      
   <!--CREATE TWEET-->
  
   <!--/CREATE TWEET-->
   
   <!--SHOW TWEET-->
   <div class="stream-container conversations-enabled persistent-inline-actions light-inline-actions">
     <div class="stream home-stream">
       <ol class="stream-items js-navigable-stream" id="stream-items-id" ng-controller="TimelineCtrl">
          <li ng-repeat="twtt in tweets" class="js-stream-item stream-item stream-item expanding-stream-item">
            <div class="tweet original-tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable js-original-tweet">
              <div class="context">
              </div>
              <div class="content">
                <div class="stream-item-header">
                  <a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="">
                    <img class="avatar js-action-profile-avatar" src="./Twitter_files/EUuQwGFT_bigger.png" alt="">
                    <strong class="fullname js-action-profile-name show-popup-with-id"><!----></strong>
                    <span>‏
                    </span>
                    <span class="username js-action-profile-name"><s>@</s><b><!----></b>
                    </span>
                  </a>
                  <small class="time">
                    <a href="https://twitter.com/digitalocean/status/588347396226093056" class="tweet-timestamp js-permalink js-nav js-tooltip" title="16:25 - 15. Apr. 2015">15. Apr.</a>
                  </small>
                </div>
                <p class="TweetTextSize  js-tweet-text tweet-text" lang="en" ng-bind-html="twtt.parsed"></p>
                <div class="expanded-content js-tweet-details-dropdown">
    
                </div>
                <div class="stream-item-footer">
                  <span class="ProfileTweet-action--reply u-hiddenVisually"></span>
                  <span class="ProfileTweet-action--retweet u-hiddenVisually">
                    <span class="ProfileTweet-actionCount" data-tweet-stat-count="6">
                      <span class="ProfileTweet-actionCountForAria" data-aria-label-part="">0 Retweets</span>
                    </span>
                  </span>
                  <span class="ProfileTweet-action--favorite u-hiddenVisually">
                    <span class="ProfileTweet-actionCount" data-tweet-stat-count="15">
                      <span class="ProfileTweet-actionCountForAria" data-aria-label-part="">0 Favs</span>
                    </span>
                  </span>
                  <div role="group" class="ProfileTweet-actionList u-cf js-actions pocket-inserted">
                    <div class="ProfileTweet-action ProfileTweet-action--reply">
                      <button class="ProfileTweet-actionButton u-textUserColorHover js-actionButton js-actionReply js-tooltip" type="button" title="Antworten">
                        <span class="Icon Icon--reply"></span>
                        <span class="u-hiddenVisually">Answer</span>
                      </button>
                    </div>
                    <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
                      <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet js-tooltip" title="Retweeten" data-modal="ProfileTweet-retweet" type="button">
                        <span class="Icon Icon--retweet"></span>
                        <span class="u-hiddenVisually">Retweet</span>
                        <span class="ProfileTweet-actionCount">
                          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">0</span>
                        </span>
                      </button>
                      <button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet js-tooltip" title="Retweet rückgängig machen" type="button">
                        <span class="Icon Icon--retweet"></span>
                        <span class="u-hiddenVisually">Retweeted</span>
                        <span class="ProfileTweet-actionCount">
                          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">0</span>
                        </span>
                      </button>
                    </div>

                    <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
                      <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite js-tooltip" title="Favorisieren" type="button">
                        <span class="Icon Icon--favorite"></span>
                        <span class="u-hiddenVisually">Favorite</span>
                        <span class="ProfileTweet-actionCount">
                          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">0</span>
                        </span>
                      </button>
                      <button class="ProfileTweet-actionButtonUndo u-linkClean js-actionButton js-actionFavorite js-tooltip" title="Favorit rückgängig machen" type="button">
                        <span class="Icon Icon--favorite"></span>
                        <span class="u-hiddenVisually">Faved</span>
                        <span class="ProfileTweet-actionCount">
                          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">0</span>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
          
              </div>
            </div>
          </li>
      </ol>
    </div>
  </div>
   <!--/SHOW TWEET-->   
    </div>
  </div>
</div>