<div id="sidebar-wrap" ng-controller="NavCtrl">
  <accordion close-others="oneAtTime" slimscroll="{height: '100%'}">

    <accordion-group is-open="status.isFirstOpen" ng-class="{'open': status.isFirstOpen, 'closed': !status.isFirstOpen}">
      <accordion-heading>
        Navigation <i class="fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
      </accordion-heading>
      <ul id="navigation" nav-collapse ripple>
        <li ui-sref-active="active"><a ui-sref="app.dashboard"><fa name="dashboard"></fa> <span>Dashboard</span></a></li>
     
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.analytics')}">
          <a ui-sref="app.analytics"><fa name="bar-chart"></fa> <span>Analytics</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.analytics.accesslog"><fa name="caret-right"></fa> Access Logs</a></li>
            <li ui-sref-active="active"><a ui-sref="app.tables.datatables"><fa name="caret-right"></fa> User</a></li>
            <li ui-sref-active="active"><a ui-sref="app.tables.ui-grid"><fa name="caret-right"></fa> Training</a></li>
            <li ui-sref-active="active"><a ui-sref="app.tables.ng-table"><fa name="caret-right"></fa> Intelligence</a></li>
            <li ui-sref-active="active"><a ui-sref="app.tables.smart-table"><fa name="caret-right"></fa> Usage</a></li>
            <li ui-sref-active="active"><a ui-sref="app.tables.footable"><fa name="caret-right"></fa> Various</a></li>
          </ul>
        </li>
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.social')}">
          <a ui-sref="app.social"><fa name="facebook"></fa> <span>Social Sites</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="core.page-offline"><fa name="caret-right"></fa> Red Cross</a></li>
            <li ui-sref-active="active"><a ui-sref="core.locked"><fa name="caret-right"></fa> Enemy Site 1</a></li>
            <li ui-sref-active="active"><a ui-sref="app.pages.gallery"><fa name="caret-right"></fa> Embassy</a></li>
            <li ui-sref-active="active"><a ui-sref="app.pages.timeline"><fa name="caret-right"></fa> DoD</a></li>
            <li ui-sref-active="active"><a ui-sref="app.pages.chat"><fa name="caret-right"></fa> Facebook</a></li>
            <li ui-sref-active="active"><a ui-sref="app.pages.search-results"><fa name="caret-right"></fa> G+</a></li>
            <li ui-sref-active="active"><a ui-sref="app.social.twitter"><fa name="caret-right"></fa> Twitter</a></li>
          </ul>
        </li>
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.news')}">
          <a ui-sref="app.news"><fa name="newspaper-o"></fa> <span>News Sites</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.layouts.boxed"><fa name="caret-right"></fa> ASOT</a></li>
            <li ui-sref-active="active"><a ui-sref="app.layouts.boxed"><fa name="caret-right"></fa> News Paper1</a></li>
            
          </ul>
        </li>
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.locations')}">
          <a ui-sref="app.locations"><fa name="map-marker"></fa> <span>Locations</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.locations.scenario"><fa name="caret-right"></fa> Scenario</a></li>
            <li ui-sref-active="active"><a ui-sref="app.locations.analysis"><fa name="caret-right"></fa> Analysis</a></li>
          </ul>
        </li>
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.system')}">
          <a ui-sref="app.sys"><fa name="cogs"></fa> <span>System</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.maps.vector"><fa name="exclamation-triangle"></fa> Error Log</a></li>
            <li ui-sref-active="active"><a ui-sref="app.maps.google"><fa name="user"></fa> User Log</a></li>
            <li ui-sref-active="active"><a ui-sref="app.maps.google"><fa name="cog"></fa> System Settings</a></li>
            <li ui-sref-active="active"><a ui-sref="app.maps.google"><fa name="compass"></fa> Environmental Settings</a></li>
            <li ui-sref-active="active"><a ui-sref="app.maps.google"><fa name="desktop"></fa> Interface Settings</a></li>
            <li ui-sref-active="active"><a ui-sref="app.sys.status"><fa name="info"></fa> System Status</a></li>
            
          </ul>
        </li>       
        <li ui-sref-active="active"><a ui-sref="app.help"><fa name="copyright"></fa> <span>Documentation</span></a></li>

      </ul>
    </accordion-group>

    <accordion-group is-open="status.isSecondOpen" class="charts" ng-class="{'open': status.isSecondOpen, 'closed': !status.isSecondOpen}">
      <accordion-heading>
        System Summary <i class="fa" ng-class="{'fa-angle-up': status.isSecondOpen, 'fa-angle-down': !status.isSecondOpen}"></i>
      </accordion-heading>

      <div ng-controller="SparklineCtrl" class="summary">

        <div class="media">
          <div class="media-body">
            XCMS Version
            <h4 class="media-heading">0.0.1</h4>
          </div>
        </div>


      </div>

    </accordion-group>


  </accordion>
</div>
