<div class="page page-full page-chat">


  <div class="tbox tbox-sm">






    <!-- left side -->
    <div class="tcol w-md bg-tr-white lt b-r">








      <!-- left side header-->
      <div class="p-15 bg-white">

        <h3 class="custom-font m-0 mr-5 inline-block">Documentation</h3>

      </div>
      <!-- /left side header -->








      <!-- left side body -->
      <div class="p-15 hidden-sm hidden-xs" id="open-chats">

        <ul class="list-unstyled">
          <li class="text-orange b-b pb-10 mb-10 b-orange"><strong>Build info</strong></li>
          <li class="text-info b-b pb-10 mb-10 b-info"><strong>XCMS</strong></li>
          <li><a anchor-scroll="nda">NDA</a></li>
          <li><a anchor-scroll="eula">EULA</a></li>
          <li class="mb-10"><a anchor-scroll="grunt">Copying</a></li>
          <li class="text-greensea b-b pb-10 mb-10 b-greensea"><strong>Usage</strong></li>
          <li><a anchor-scroll="colors">Colors</a></li>
          <li><a anchor-scroll="layout">Layout</a></li>
          <li class="mb-10"><a anchor-scroll="global">troubleshooting</a></li>
          <li class="text-lightred b-b pb-10 mb-10 b-lightred"><strong>Troubleshooting</strong></li>
          
          <li class="text-lightred b-b pb-10 mb-10 b-lightred"><strong>Installation</strong></li>
          <li><a anchor-scroll="core">Core</a></li>
          <li class="mb-10"><a anchor-scroll="directives">Directives</a></li>
          <li class="text-amethyst b-b pb-10 mb-10 b-amethyst"><strong>Licenses</strong></li>
          <li><a anchor-scroll="plugins">Docker images</a></li>
        </ul>

      </div>
      <!-- /left side body -->








    </div>
    <!-- /left side -->







    <!-- right side -->
    <div class="tcol">



      <!-- right side body -->
      <div class="p-15">

       <section class="tile tile-simple">

                 <!-- tile body -->
                 <div class="tile-body">
                   <h3 class="custom-font text-orange mt-0 mb-10">Build info</h3>
                   <p>This is the XPCMS C2S2 custom build.</p><br>
                   <p>Version: <strong>0.0.1</strong></p>
                   <p>Committer: <strong>Florian Kasper</strong></p>
                   <p>Project Team: <strong>Douglas Boyd, Shands Pickett, Florian Kasper</strong></p>
                   <p>Project Lead: <strong>Douglas Boyd</strong></p>
            
                   <p>Copyright: <strong>© 2014-2015 XPANDMMI</strong></p>


                 </div>
                 <!-- /tile body -->

               </section>


      </div>
      <!-- /right side body -->


    </div>
    <!-- /right side -->



  </div>



</div>

