<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Twitter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <base href="/twitter">
    

    <link rel="icon" sizes="any" mask="" href="https://abs.twimg.com/a/1436203639/img/t1/favicon.svg">
    <meta name="theme-color" content="#55acee">
    <link href="https://abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">


      <meta name="swift-page-name" id="swift-page-name" content="home">

        <link rel="canonical" href="Twitter.html">

        <link id="async-css-placeholder">
     

    
  </head>
  
  <body ng-app="twitterApp" class="three-col logged-in user-style-officiallyzyg western de enhanced-mini-profile supports-drag-and-drop" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
      
 <div class="splash" ng-cloak>
    <p>Loading</p>
  </div>
      <div id="doc" class="route-home">

        <div class="topbar js-topbar" >
          <div class="ProfilePage-editingOverlay"></div>
          <div class="global-nav" data-section-term="top_nav">
            <div class="global-nav-inner">
              <div class="container">
      
                <h1 class="Icon Icon--bird bird-topbar-etched" style="display: inline-block; width: 24px; height: 21px;">
                  <span class="visuallyhidden">Twitter</span>
                </h1>
                <div class="pushstate-spinner"></div>

        
                <div role="navigation" style="display: inline-block;">
                  <ul class="nav js-global-actions" id="global-actions">
                    <li id="global-nav-home" class="home active" data-global-action="home">
                      <a class="js-nav js-tooltip js-dynamic-tooltip" data-placement="bottom" href="./Twitter_files/Twitter.html" data-component-term="home_nav" data-nav="home">
                        <span class="Icon Icon--home Icon--large"></span>
                        <span class="text">Home</span>
                      </a>
                    </li>
                  </ul>
                </div>

        
                <div class="pull-right" style="display: inline-block;">

                  <ul class="nav right-actions">
                    <li role="complementary" aria-labelledby="global-new-tweet-button" class="topbar-tweet-btn">
                      <button id="global-new-tweet-button" type="button" class="js-global-new-tweet js-tooltip btn primary-btn tweet-btn js-dynamic-tooltip">
                        <span class="Icon Icon--tweet Icon--large"></span>
                        <span class="text">Tweet</span>
                      </button>
                    </li>
                  </ul>
                </div>


              </div>
            </div>
          </div>
        </div>
        <div ng-view="" ng-cloak></div>

    </div>


    
    <div class="alert-messages hidden" id="message-drawer" style="" ng-cloak>
      <div class="message ">
        <div class="message-inside">
          <span class="message-text">{{controller.message}}</span>
            <a role="button" class="Icon Icon--close Icon--medium dismiss" href="">
              <span class="visuallyhidden">Discard</span>
            </a>
        </div>
      </div>
    </div>
    
  

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="bower_components/ng-websocket/ng-websocket.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/timeline.js"></script>
        <script src="scripts/controllers/tweetinline.js"></script>
        <!-- endbuild -->
</body>
</html>
