<!-- right side header -->
<div class="p-15 bg-white b-b">

  <div class="btn-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default btn-sm br-2-l"><i class="fa fa-angle-left"></i></button>
      <button type="button" class="btn btn-default btn-sm br-2-r"><i class="fa fa-angle-right"></i></button>
    </div>
     <div class="btn-group">
      <a ui-sref="app.mail.inbox" class="btn btn-default btn-sm br-2 w-60"><i class="fa fa-long-arrow-left"></i></a>
    </div>
    <div class="btn-group">
      <button class="btn btn-default btn-sm br-2-l w-60"><i class="fa fa-download"></i></button>
      <button class="btn btn-default btn-sm w-60"><i class="fa fa-exclamation-triangle"></i></button>
      <button class="btn btn-default btn-sm br-2-r w-60"><i class="fa fa-trash-o"></i></button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default btn-sm br-2-l w-60"><i class="fa fa-folder mr-5"></i>  <span class="caret"></span></button>
      <button class="btn btn-default btn-sm br-2-r w-60"><i class="fa fa-tags mr-5"></i>  <span class="caret"></span></button>
    </div>
  </div>

</div>
<!-- /right side header -->







<!-- right side body -->
<div class="p-15 b-b">

  <h2 class="text-thin m-0">Eu deserunt cillum</h2>

</div>

<div class="p-15 b-b">

  <div class="media">
    <div class="pull-left">
      <div class="thumb thumb-sm">
        <img class="img-circle" src="images/random-avatar7.jpg">
      </div>
    </div>
    <div class="media-body">
      <p class="mb-0">
        <span class="text-muted">from</span>
        <a href="javascript:;" class="text-default">woodwalton@orbaxter.com</a>
        <span class="text-muted text-sm pull-right">16:54, 24.11.2014</span>
      </p>
      <p class="mb-0">
        <span class="text-muted">to</span>
        Me
      </p>
      <p class="mb-0 text-sm">
        <span class="text-muted"><i class="fa fa-paperclip"></i></span>
        (2 files, 89.2 KB)
      </p>
    </div>
  </div>

</div>

<div class="p-15">
  <p>Commodo sunt minim incididunt ipsum dolore veniam nulla Lorem reprehenderit officia. Ut esse cillum quis deserunt.</p>
</div>

<div class="p-15">

  <div class="thumb thumb-xxl">
    <div class="thumb-header br-2-t"><i class="fa fa-paperclip"></i> kitty1.jpg</div>
    <div class="thumb-body br-2-b">
      <a href="http://placekitten.com/g/200/300"><img src="http://placekitten.com/g/158/100"></a>
    </div>
  </div>

  <div class="thumb thumb-xxl">
    <div class="thumb-header br-2-t"><i class="fa fa-paperclip"></i> kitty2.jpg</div>
    <div class="thumb-body br-2-b">
      <a href="http://placekitten.com/g/200/300"><img src="http://placekitten.com/g/159/100"></a>
    </div>
  </div>

</div>

<div class="p-15">
  <div class="panel b-a b-solid br-2">
    <div class="panel-heading" ng-hide="reply">
      <div class="mb-40">
        Click here to <a href="javascript:;" ng-click="reply=!reply">Reply</a> or <a href="javascript:;" ng-click="reply=!reply">Forward</a>
      </div>
    </div>
    <div ng-show="reply">
      <div class="panel-heading b-b">
        woodwalton@orbaxter.com
      </div>
      <div class="p-15" contenteditable="true" style="min-height:100px"></div>
      <div class="panel-footer">
        <button class="btn btn-link text-default pull-right" ng-click="reply=!reply"><i class="fa fa-trash-o"></i></button>
        <button class="btn btn-greensea btn-ef btn-ef-7 btn-ef-7b b-0 br-2" activate-button=""><i class="fa fa-envelope"></i> Send Message</button>
      </div>
    </div>
  </div>
</div>

<!-- /right side body -->

